<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>contatos</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <mime-mapping>
  <extension>jsp</extension>
  <mime-type>text/html</mime-type>
  </mime-mapping>
  
  <servlet>
  <servlet-name>triagem</servlet-name>
  <servlet-class>com.br.contatos.entrar.servlet.Triagem</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>triagem</servlet-name>
  <url-pattern>/checkin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>agenda</servlet-name>
  <servlet-class>com.br.contatos.entrar.servlet.Agenda</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>agenda</servlet-name>
  <url-pattern>/agenda</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>controller</servlet-name>
  <servlet-class>com.br.contatos.entrar.servlet.Controller</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>controller</servlet-name>
  <url-pattern>/rota</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>cadastro</servlet-name>
  <servlet-class>com.br.contatos.entrar.servlet.CadastroServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>cadastro</servlet-name>
  <url-pattern>/cadastro</url-pattern>
  </servlet-mapping>
</web-app>